<!DOCTYPE html>
<!-- I'm not sure if I really need this. I think using index within gallery/ will be what I want. Then I can create a seperate index/homepage app? -->
<a href="{% url 'gallery' %}">Gallery</a>

<h1>Photo Gallery</h1>
<div class="gallery">
    {% for photo in photos %}
        <div class="photo">
            <img src="{{ photo.image.url }}" alt="{{ photo.title }}">
            <h2>{{ photo.title }}</h2>
            <p>{{ photo.description }}</p>
        </div>
    {% endfor %}
</div>

<a href="{% url 'upload_photo' %}">Upload a new photo</a>